<footer class="footer">
  <div class="container grid-list">

    <div class="footer-brand">

      <a href="#" class="logo">
        <img src="/assets/logo/logo-Sobreazul.png" width="200" height="24" alt="TechSync Software">
      </a>

      <p class="footer-text">
        &copy; {{ currentYear }} TechSync Software. <br> {{ 'footer.rights' | t }}
      </p>

      <ul class="social-list">
        <li>
          <a href="https://www.instagram.com/techsyncsoft?igsh=dTQ4ODk3amVxMTEz&utm_source=qr" class="social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.linkedin.com/company/techsync-software" class="social-link">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.facebook.com/share/19Sd6AmcS7/?mibextid=LQQJ4d" class="social-link">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://x.com/techsyncsoft?s=21&t=oO_pF0gozkIrG2TPikWDzg" class="social-link">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.threads.net/@techsyncsoft?igshid=NTc4MTIwNjQ2YQ==" class="social-link">
            <i class="fa-brands fa-threads"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.tiktok.com/@techsyncsoft?_t=ZS-8tP3thWdke2&_r=1" class="social-link">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
      </ul>

    </div>

    <ul class="footer-list">

      <li>
        <p class="h4 footer-list-title">{{ 'footer.address.title' | t }}</p>
      </li>

      <li>
        <address class="footer-text">
          {{ 'footer.address.city' | t }}
        </address>
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <a href="#nosotros" class="footer-link">{{ 'nav.about' | t }}</a>
      </li>

      <li>
        <a href="#servicios" class="footer-link">{{ 'services.subtitle' | t }}</a>
      </li>

      <li>
        <a href="#proyectos" class="footer-link">{{ 'projects.subtitle' | t }}</a>
      </li>

    </ul>

    <div class="footer-list">

      <p class="h4 footer-list-title">{{ 'contact.footer.title' | t }}</p>

      <a href="mailto:info&#64;techsyncsoft.com" class="footer-link">{{ 'contact.footer.mail' | t }}</a>

    </div>

  </div>
</footer>
