<footer class="footer">
  <div class="container grid-list">

    <div class="footer-brand">

      <a href="#" class="logo">
        <img src="/assets/logo/logo-Sobreazul.png" width="200" height="24" alt="TechSync Software">
      </a>

      <p class="footer-text">
        &copy; {{ currentYear }} TechSync Software. <br> Todos los derechos reservados.
      </p>

      <ul class="social-list">
        <li>
          <a href="https://www.instagram.com/techsyncsoft?igsh=dTQ4ODk3amVxMTEz&utm_source=qr" class="social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.linkedin.com/company/techsync-software" class="social-link">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.facebook.com/share/19Sd6AmcS7/?mibextid=LQQJ4d" class="social-link">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://x.com/techsyncsoft?s=21&t=oO_pF0gozkIrG2TPikWDzg" class="social-link">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.threads.net/@techsyncsoft?igshid=NTc4MTIwNjQ2YQ==" class="social-link">
            <i class="fa-brands fa-threads"></i>
          </a>
        </li>
        |
        <li>
          <a href="https://www.tiktok.com/@techsyncsoft?_t=ZS-8tP3thWdke2&_r=1" class="social-link">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
      </ul>

    </div>

    <ul class="footer-list">

      <li>
        <p class="h4 footer-list-title">Dirección</p>
      </li>

      <li>
        <address class="footer-text">
          Santo Domingo, República Dominicana
        </address>
      </li>
    </ul>

    <ul class="footer-list">
      <!--
      <li>
        <p class="h4 footer-list-title">Learn More</p>
      </li> -->

      <li>
        <a href="#" class="footer-link">Nosotros</a>
      </li>

      <li>
        <a href="#" class="footer-link">Nuestros Servicios</a>
      </li>

      <li>
        <a href="#" class="footer-link">Proyectos</a>
      </li>

      <!-- <li>
        <a href="#" class="footer-link">Terms of Use</a>
      </li>

      <li>
        <a href="#" class="footer-link">Privacy Policy</a>
      </li> -->

    </ul>

    <div class="footer-list">

      <p class="h4 footer-list-title">Contactanos</p>

      <a href="mailto:info&#64;techsyncsoft.com" class="footer-link">Envíanos un correo</a>

    </div>

  </div>
</footer>
