

<footer class="footer">
  <div class="container grid-list">

    <div class="footer-brand">

      <a href="#" class="logo">
        <img src="/assets/logo/logo-Sobreazul.png" width="200" height="24" alt="techsyncsoft">
      </a>

      <p class="footer-text">
        &copy; 2024 TechSync Software. <br> Todos los derechos reservados.
      </p>

      <ul class="social-list">
        <li>
          <a href="https://www.instagram.com/techsyncsoft?igsh=dTQ4ODk3amVxMTEz&utm_source=qr" class="social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>

    <ul class="footer-list">

      <li>
        <p class="h4 footer-list-title">Dirección</p>
      </li>

      <li>
        <address class="footer-text">
          Santo Domingo, República Dominicana
        </address>
      </li>
    </ul>

    <ul class="footer-list">
<!--
      <li>
        <p class="h4 footer-list-title">Learn More</p>
      </li> -->

      <li>
        <a href="#" class="footer-link">Nosotros</a>
      </li>

      <li>
        <a href="#" class="footer-link">Nuestros Servicios</a>
      </li>

      <li>
        <a href="#" class="footer-link">Proyectos</a>
      </li>

      <!-- <li>
        <a href="#" class="footer-link">Terms of Use</a>
      </li>

      <li>
        <a href="#" class="footer-link">Privacy Policy</a>
      </li> -->

    </ul>

    <div class="footer-list">

      <p class="h4 footer-list-title">Contactanos</p>


      <a href="mailto:info@techsyncsoft.com" class="footer-link">Envíanos un correo</a>

    </div>

  </div>
  </footer>
