.blog-mt {
  margin-top: 7rem;
}

h1, p {
  color: var(--dark-blue);
}

i {
  font-size: medium;
}

.blog-post {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.post-image-container {
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.post-image:hover {
  transform: scale(1.05);
}

.post-content {
  padding: 30px;
  background: #fff;
  position: relative;
}

.post-content h1 {
  font-size: 2.2em;
  margin: 20px 0;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: var(--green);
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.post-meta span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-interactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.like-button:hover {
  transform: scale(1.1);
}

.heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--green);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.heart.liked {
  transform: scale(1.2);
  background-color: var(--dark-blue);
  color: var(--white);
}

.post-share-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.post-share-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.share-button.linkedin {
  color: #0077b5;
  background-color: #eaf4fc;
}

.share-button.facebook {
  color: #4267B2;
  background-color: #e8f0fe;
}

.share-button.whatsapp {
  color: #25D366;
  background-color: #e7f9ed;
}


.share-button.linkedin:hover {
  background-color: #0077b5;
  color: #fff;
}

.share-button.facebook:hover {
  background-color: #4267B2;
  color: #fff;
}

.share-button.whatsapp:hover {
  background-color: #25D366;
  color: #fff;
}

.post-share-buttons button:hover {
  transform: scale(1.2);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  padding: 1rem;
}

.custom-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--green);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  text-decoration: none;
}

.custom-button:hover {
  color: var(--dark-blue);
}

.custom-button i {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .post-content {
    padding: 20px;
  }

  .post-content h1 {
    font-size: 1.8em;
  }

  .post-meta {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-interactions {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .post-share-buttons {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .post-content h1 {
    font-size: 1.5em;
  }

  .post-meta {
    font-size: 0.8em;
  }

  .post-interactions {
    flex-direction: column;
    align-items: flex-start;
  }

  .like-button {
    margin-bottom: 10px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
