<app-menu id="inicio"></app-menu>
<section class="section hero has-bg-image" aria-label="home" id="inicio">
  <div class="container">

    <div class="hero-content animate__animated animate__fadeInLeft">
      <h1 class="h1 hero-title animate__animated animate__fadeInDown">Soluciones Digitales: Desarrollo y Diseño Web</h1>
      <p class="hero-text animate__animated animate__fadeInUp animate__delay-1s">
        Eleva tu negocio con servicios de vanguardia en desarrollo de software, diseño web, y soporte técnico. Nuestro
        enfoque personalizado garantiza soluciones innovadoras para tus proyectos digitales, optimizando tu presencia
        online y eficiencia operativa.
      </p>
      <div class="btn-wrapper animate__animated animate__fadeIn animate__delay-2s">
        <button (click)="scrollToSection('servicios')" class="btn btn-primary">Servicios</button>
        <button (click)="scrollToSection('contactanos')" class="btn btn-outline">Contáctanos</button>
      </div>
    </div>

    <img src="/assets/home-img.jpg" alt="Soluciones Digitales en Desarrollo y Diseño Web" class="hero-image animate__animated animate__zoomIn animate__delay-2s">
  </div>
</section>

<section class="section service animate__animated animate__fadeIn animate__delay-2s" aria-labelledby="service-label" id="servicios">
  <div class="container">

    <p class="section-subtitle" id="service-label">Nuestros Servicios</p>

    <h2 class="h2 section-title">
      Impulsando Tu Transformación Digital y Excelencia Operativa
    </h2>

    <ul class="grid-list">

      <li>
        <div class="service-card animate__animated animate__fadeIn animate__delay-0.5s">

          <div class="card-icon">
            <i class="fa-solid fa-code"></i>
          </div>

          <h3 class="h4 card-title">Desarrollo de Software</h3>

          <p class="card-text">
            Soluciones a medida para eficiencia y optimización empresarial.
          </p>

          <!-- <a href="#" class="btn-text"> -->
          <br>
          <br>
          <!-- <span class="span">Learn More</span> -->

          <!-- <i class="fa-solid fa-arrow-right"></i> -->
          <!-- </a> -->

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <i class="fa-brands fa-uikit"></i>
          </div>

          <h3 class="h4 card-title">Diseño de Páginas Web</h3>

          <p class="card-text">
            Sitios web atractivos y funcionales que potencian tu marca.
          </p>

          <!-- <a href="#" class="btn-text"> -->
          <br>
          <br>
          <!-- <span class="span">Learn More</span> -->

          <!-- <i class="fa-solid fa-arrow-right"></i> -->
          <!-- </a> -->

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <i class="fa-solid fa-hashtag"></i>
          </div>

          <h3 class="h4 card-title">Marketing Digital:</h3>

          <p class="card-text">
            Estrategias personalizadas para aumentar visibilidad y captación de mercado.
          </p>

          <!-- <a href="#" class="btn-text"> -->
          <br>
          <br>
          <br>
          <!-- <span class="span">Learn More</span> -->

          <!-- <i class="fa-solid fa-arrow-right"></i> -->
          <!-- </a> -->

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <i class="fa-solid fa-toolbox"></i>
          </div>

          <h3 class="h4 card-title">Soporte Técnico</h3>

          <p class="card-text">
            Asistencia técnica para la continuidad y rendimiento de sistemas.
          </p>

          <!-- <a href="#" class="btn-text"> -->
          <br>
          <br>
          <br>
          <!-- <span class="span">Learn More</span> -->

          <!-- <i class="fa-solid fa-arrow-right"></i> -->
          <!-- </a> -->

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <i class="fa-solid fa-info"></i>
          </div>

          <h3 class="h4 card-title">Consultoría Técnica</h3>

          <p class="card-text">
            Asesoramiento experto para elevar la eficiencia y la innovación tecnológica en tu empresa.
          </p>

          <a href="#" class="btn-text">
            <!-- <span class="span">Learn More</span> -->

            <!-- <i class="fa-solid fa-arrow-right"></i> -->

            <br>
          </a>

        </div>
      </li>

      <!-- <li>
          <div class="service-card">

            <div class="card-icon">
              <i class="fa-solid fa-chart-simple"></i>
            </div>

            <h3 class="h4 card-title">Venta de Software </h3>

            <p class="card-text">
              Soluciones tecnológicas al alcance de tu mano, adaptadas a tus necesidades empresariales.
            </p>

            <a href="#" class="btn-text">
              <span class="span">Learn More</span>

              <i class="fa-solid fa-arrow-right"></i>
            </a>

          </div>
        </li> -->
    </ul>

  </div>
</section>



<section class="section about animate__animated animate__fadeIn animate__delay-1s" aria-labelledby="about-label" id="nosotros">
  <div class="container">

    <figure class="about-banner animate__animated animate__fadeIn animate__delay-1s">
      <img src="/assets/why-us.jpg" width="800" height="580" loading="lazy" alt="Soluciones Digitales en Desarrollo y Diseño Web"class="w-100">
    </figure>

    <div class="about-content animate__animated animate__fadeIn animate__delay-1.5s">
      <p class="section-subtitle" id="about-label">Por Qué Nosotros?</p>
      <h2 class="h2 section-title">
        Excelencia, Eficiencia e Innovación en Cada Proyecto
      </h2>
      <ul>
        <li class="about-item animate__animated animate__fadeIn animate__delay-2s" *ngFor="let item of accordionItems; let i = index">
          <div class="accordion-card" [class.expanded]="item.isOpen" data-accordion>
            <h3 class="card-title">
              <button class="accordion-btn" data-accordion-btn (click)="toggleItem(i)">
                <i class="fa-solid fa-circle-chevron-down"></i>
                <span class="span h5">{{ item.title }}</span>
              </button>
            </h3>
            <p class="accordion-content" *ngIf="item.isOpen">
              {{ item.content }}
            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>


<section class="section project animate__animated animate__fadeIn animate__delay-2s" aria-labelledby="project-label" id="blog">
  <div class="container">

    <p class="section-subtitle" id="project-label">Nuestro Blog</p>

    <h2 class="h2 section-title">
      Novedades y Artículos
    </h2>

    <app-blog></app-blog>

  </div>
</section>

<section class="section project animate__animated animate__fadeIn animate__delay-2s" aria-labelledby="project-label" id="proyectos">
  <div class="container">

    <p class="section-subtitle" id="project-label">Proyectos</p>

    <h2 class="h2 section-title">
      Innovación y resultados en cada colaboración
    </h2>

    <ul class="grid-list">
      <li>
        <a href="https://eventsplanner.com.do/">
        <div class="project-card">

          <figure class="card-banner img-holder" style="--width: 560; --height: 350;">
            <img src="/assets/events-planner-p.png" width="560" height="350" loading="lazy" alt="Pagina para Bodas"
              class="img-cover">
          </figure>

          <div class="card-content">

            <h3 class="h3">
              <a href="https://eventsplanner.com.do/" class="card-title">Events Planner</a>
            </h3>

            <p class="card-text">
              Planificación de eventos memorables, desde bodas hasta celebraciones corporativas.
            </p>
          </div>

        </div>
      </a>
      </li>

    </ul>

  </div>
</section>

<app-footer id="contactanos"></app-footer>
